.card{
    width: 250px;
    display: grid;
    /* grid-template-columns: repeat(3, 200px); */
    grid-template-rows: 250px, 250px, 100px;
    border-radius: 10px;
    text-align: center;
    border: 100px;
    border-color: black;
}

.header-img{
    /* grid-column: 1/4; */
    grid-row: 1/2;
}

.card-text{
    /* grid-column: 1/4; */
    grid-row: 2/3;
}

.footer-stats{
    display: flex;
    /* grid-column: 1/4; */
    /* grid-row: 3/4; */
    background-color: blue;
    color: white;
}


.background{
    grid-row: 1/4;
    background-color: black;
}