@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.logo{
    padding-top: 5px;
}

.icon{
    padding-top: 10px;
}

.logo, .icon{
    width: 80px;
}

#hero-img{
    width: 100%;
}

body{
    background-color: whitesmoke;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: brown;
}

nav a{
    margin: 0 auto;
    color: white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: red;
    color: whitesmoke;
}

.home-title{
    color: brown;
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4{
    color: #89683f;
}

#hero-msg{
    text-align: center;
}

#hero-msg h1,#hero-msg h4{
    text-align: center;
}

#hero-box{
    margin: 0 auto;
}

main section{
    text-align: center;
}

#background{
    height: 725px;
    background-color: #F18805;
    margin: 200px 0;
}

.book, .join{
    background-color: brown;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover{
    background-color: rgb(255, 211, 211);
    color: black;
}

.card-img{
    margin: 200px 0;
    border: 10px solid black
}

main section img{
    box-sizing: border-box;
}

.msg{
    background-color: antiquewhite;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 200px;
}

.msg h2{
    color: rgb(177, 57, 57);
}

.msg p{
    color: #4c1e0f;
    font-size: .8em;
    padding: 15px;
}

footer{
    background-color: #78290F;
    color: whitesmoke;
    padding: 25px 30px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer a{
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover{
    background-color: white;
    color: black;
}

footer .social img{
    padding-top: 15px;
}

footer p a:hover{
    text-decoration: underline;
}

section h2, section h4, p, a{
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}

.msg h2{
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

h2{
    margin: 0;
}